%h2 At Huxap we are building user experience centered software products 
%li define and focus on the top goals
%li make sure everyone knows the specific job to be done to achieve the goals
%li develop with lean and agile methodologies
%li set up a regular cycle of follow-through  
%li deliver well-tested product release every 1-3 months

%h2 Our senior level developers 
%li have worked in financial, marketing, media, social, mobile businesses
%li obsessed with clean code and pragmatic programmer practices without any hope to recovery
%li experienced with leading Microsoft.NET, Java and Ruby technologies building web, desktop and mobile solutions