%p We are located in Oslo and Riga with 1h timezone difference and 1h flight time

%b Oslo 
%div
  Ullern alle 55, 0381 Oslo, Norway
  +47 466 35 826, 
  %a{:href=>"mailto:edijs.petersons@huxap.com"} edijs.petersons@huxap.com

%b Riga 
%div
  Lubanas iela 16, LV-1019, Latvia
  +47 466 35 826, 
  %a{:href=>"mailto:edijs.petersons@huxap.com"} edijs.petersons@huxap.com

%img{:src=> "http://maps.google.com/maps/api/staticmap?center=58.6035,2217.711237&zoom=5&size=600x300&sensor=false&path=color:0x0000ff|weight:5|Riga,Latvia|Oslo,Norway"}
