%div{:class => "span-6 prepend-1"}
  %hr{:class => "space"}
  %div We are located in Oslo and Riga 
  %li 1h timezone difference 
  %li 1h flight time distance
  
  
  %hr{:class => "space"}
 
  %b Oslo 
  
  %div
    Ullern alle 55, 0381 Oslo, Norway
    %br +47 466 35 826, 
    %a{:href=>"mailto:edijs.petersons@huxap.com"} edijs.petersons@huxap.com

  %hr{:class => "space"}
  %hr
  
  %b Riga 
  %div
    Lubanas iela 16, LV-1019, Riga, Latvia
    %br +47 466 35 826 
    %a{:href=>"mailto:edijs.petersons@huxap.com"} edijs.petersons@huxap.com

%div{:class => "span-17 last"}
  %img{:src=> "http://maps.google.com/maps/api/staticmap?center=58.6035,2217.711237&zoom=5&size=600x300&sensor=false&path=color:0x0000ff|weight:5|Riga,Latvia|Oslo,Norway"}
