%div{:class => "span-21 prepend-3"}
  
  %h3 Did you know...
  
  .quiet Covey quoted a Bain survey of senior executives:
  %li 96% of senior executives in 362 companies said their company was costumer-focused
  %li 80% believed their company delivered a superior cusotmer experience
  %li 8% of their customers agreed

  %hr{:class=>"space"}
  
  %h4 We know history, use facts and leave emotions. Huxap stands for holistic user experience through agile practices
  .prepend-3=image_tag "growing_plant_rounded.jpg"
  
  %hr{:class=>"space"}
  
  %h3 We build software products and aim to improve organizational, technical and personal success

