%div{:class => "span-21 prepend-3"}
  
  %h3 Did you know...
  
  /%h4 [TODO: LINK] A Bain survey of senior executives in 362 companies found the following:
  %li 96% of senior executives in 362 companies said their company was costumer-focused
  %li 80% believed their company delivered a superior cusotmer experience
  %li 8% of their customers agreed

  %hr{:class=>"space"}
  
  /%h4 Predictable results Research shows: 
  %li Only 9% of workers feel a very high level of commitment to organizational goals
  %li Only 22% agree that there is a clear line of sight between their own work and the organization's top priorities
  %li They spend 23% of their time on «urgent but irrelevant activities»
  %li They spend 17% of their time on «counter-productive activities»
  
  %hr{:class=>"space"}
  
  /%h4 The Standish Group reports: 
  %li 31.1% of projects will be cancelled before they ever get completed
  %li 52.7% of projects will cost 189% of their original estimates
  %li only 16.2% for software projects are completed on- time and on-budget
 
  %hr{:class=>"space"}
  
  %h4 We know history, use facts and leave emotions
  %h3 We build software products and aim to improve organizational, technical and personal success

   
  