%div{:class => "span-21 prepend-3"}

  %p We build software - that came from an idea. Idea, realized by a dedicated team, emerges into company’s competitive advantage.

  %p You need a highly skilled team to successfully build holistic solution. We create such teams. We engage developers and you directly. From diversity most innovative creations.

  %p If you want us to grow your idea from seed into the most beautiful plant you can imagine, we will build mutual trust and respect – we will build a winning strategy. Because our developers know that when you win, we win!

  = image_tag "Image_Plant2.jpg"