%div{:class => "span-11 prepend-3"}
  %h2 We offer...
  %li build products with leading edge technologies
  %li continually learn, mentor and develop your career
  %li travel to work closely  at client sites in Oslo and Riga
  %li you choose the right technologies and tools for the job
  %li attend each year a world-class conference (e.g. NDC, NordicRuby)

%div{:class => "span-10 last"}
  %h2 We expect you...
  %li are passionate about programming
  %li use design patterns, refactoring and unit testing
  %li build software with SOLID principles in mind
  %li are familiar with lean and agile methodologies
  %li be part of diverse, highly skilled teams and join our kaizen culture

%hr{:class => "space"}

%div{:class => "span-11 prepend-3"}
  %h2 Currently looking for...
  %li Senior .Net developers 
  %li Senior Ruby developers 
  %li Senior Java developers 
  %li Junior level developers or recent graduates willing to learn

%div{:class => "span-10 last"}
  %h2 Technologies we use...
  %li languages: c#, ruby, java
  %li frameworks: Microsoft.NET stack, Ruby on Rails
  %li uni testing with: NUnit, Moq, RSpec, Cucumber
  %li relational databases: MS SQL, Oracle, MySQL 
  %li non-relational databases: MongoDB, Redis
  %li continuous integration: Team City, TFS Build 
  %li source control: TFS, Git
  %li if your technology is not mentioned we would love to hear your success story

%hr{:class => "space"}

%div{:class => "span-7"}
  %br
%div{:class => "span-9 large"}
  .info 
    Send your resume to 
    %a{:href=>"mailto:edijs.petersons@huxap.com?subject=Job"} edijs.petersons@huxap.com 
%div{:class => "span-8 last"}

