.silent
  - unless notice.blank?
    .weContactYouConfirmation= notice
= form_for(@interest = Interest.new) do |f| 
  %input{:id => "interest_empty_text", :type => "hidden", :value => Interest.empty_text}
  %div{:class => ""} 
    = f.text_field :text, :size => 40
    = f.submit "Contact me"