.menu {
	padding-top: 3.5em;
	padding-left: 2em;
		a {
		font-size:1.4em;
		text-decoration:none;
		color:#888888;
	}
	ul li {
	  padding:0.8em;
	  list-style:none;
	  margin-right:32px;
	}
	li {
	  display:inline;
      margin: 1.8em;
	}
}