%div{:class => "span-2"}
  %br
%div{:class => "span-20 quiet"}
  We believe most innovative ideas are realized by diverse teams working together, give us a call +47 466 35 826 or email
  %a{:href=>"mailto:edijs.petersons@huxap.com"} edijs.petersons@huxap.com 
%div{:class => "span-2 last"}


